body {
  text-align: center;
  background-color: #011F3F !important;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.bot {
  margin: auto;
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 10px solid black;
  border-radius: 20%;
}

.botOne {
  margin: auto;
  display: inline-block;
  height: 50px;
  width:20%;
  border: 10px solid black;
  border-radius: 100%;
  margin-bottom: 5%;
  background-color:#FEF2BF ;
  color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: large;
}
.botOne:hover {
  box-shadow: 0 0 20px;
  background-color: grey;
}

.game-over  {
  background-color: red !important;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.startKey {
  color:#011F3F ;
  background-color:#FEF2BF ;
  padding:5px 2px 2px 5px;
}